.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

.profile-container {
    text-align: center;
}

.logout-btn, .update-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.logout-btn:hover, .update-btn:hover {
    background-color: #0056b3;
}

.add-video-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745; /* Green color for the "Add Video" button */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.add-video-btn:hover {
    background-color: #218838; /* Darker green on hover */
}